<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="NavisionURL" value="http://192.168.8.101:7047/DynamicsNAV/WS/CRONUS International Ltd/Page/ZRASalesInvoice2" />
  <add key="ESDIPAddress" value="192.168.8.10" />
  <add key="ESDPort" value="8888" />  
</appSettings>
</configuration>